.box {
	position: relative;
	z-index: 10;
	display: block;
	padding: 1.5rem;
	background: $white;
	box-shadow: 0 0.5rem 2rem rgba($dark, 0.1);

	@include tabletAndUp() {
		padding: 2.5rem 5rem;
	}

	&--service {
		padding: 0;
		color: inherit;

		.box__content {
			padding: 1.5rem;

			p {
				margin: 1rem 0;
				font-size: 1rem;
				line-height: 1.25rem;
			}
		}
	}
}

.content,
.row > .content {
	padding: 1.5rem;

	@include tabletAndUp() {
		padding: 2.5rem 5rem;
	}
}
