.box {
	position: relative;
	z-index: 10;
	display: block;
	padding: 1.5rem;
	background: $white;
	box-shadow: 0 0.375rem 2rem rgba($dark, 0.15);

	@include tabletAndUp() {
		padding: 2.5rem 5rem;
	}

	&--service {
		padding: 0;
		color: inherit;

		.box__content {
			padding: 1.5rem;

			p {
				margin: 1rem 0;
				font-size: 1rem;
				line-height: 1.25rem;
			}
		}
	}
	&--package {
		margin-bottom: 2rem;
		padding: 2rem;

		.box__footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: 1rem;
		}

		.box__header {
			margin: 0 -2rem 1rem;
			padding: 0 2rem 1.5rem;
			border-bottom: 1px solid rgba($dark, 0.15);
		}
		p {
			font-size: 1rem;
			line-height: 1.5rem;
		}
		.price {
			font-size: 2rem;
			font-weight: bold;
			color: $highlight;
		}
	}
	&--circle {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		width: 8rem;
		height: 8rem;
		padding: 1.5rem;
		border-radius: 50%;

		@tabletAndUp() {
			width: 10rem;
			height: 10rem;
			padding: 1.5rem;
		}
	}
}

.content,
.row > .content {
	padding: 1.5rem;

	@include tabletAndUp() {
		padding: 2.5rem 5rem;
	}
}
