.button {
	@include clickableElem();

	&--primary {
		padding: 0.625rem 1.5rem;
		border-radius: 2rem;
		background: $highlight;
		color: $white;
		border-color: transparent;
		line-height: 1.5rem;
		font-size: 1.25rem;

		&:hover {
			background: darken($highlight, 10%);
			box-shadow: 0 0.125rem 1rem rgba($highlight, 0.3);
		}
		&:focus {
			outline: none;
		}
	}
}
