.button {
	@include clickableElem();

	&:focus {
		outline: none;
		box-shadow: 0 0.125rem 0.75rem rgba($dark, 0.25);
	}

	&--primary {
		background: $highlight;
		color: $white;
		border-color: transparent;

		&:hover {
			background: darken($highlight, 10%);
			box-shadow: 0 0.125rem 1rem rgba($highlight, 0.3);
		}
	}
	&--blue {
		background: $diagnoseBlue;
		color: $white;
		border-color: transparent;

		&:hover {
			background: darken($diagnoseBlue, 10%);
			box-shadow: 0 0.125rem 1rem rgba($diagnoseBlue, 0.3);
		}
	}
	&--primary.button--outline {
		background: transparent;
		border-width: 1px;
		font-weight: normal;
		border-color: currentColor;
		color: $highlight;

		&:hover {
			background-color: rgba($highlight, 0.1);
			color: $highlight;
		}
		&:active {
			background: $highlight;
			color: $white;
		}
	}
	&--grey {
		background: $greylight;
		border-color: transparent;

		&:hover {
			background: darken($greylight, 10%);
			box-shadow: 0 0.25rem 1rem rgba($diagnoseBlue, 0.3);
		}
	}

	// Sizes
	&--large {
		padding: 0.625rem 1.5rem;
		border-radius: 2rem;
		line-height: 1.5rem;
		font-size: 1.25rem;
		font-weight: normal;
	}
	&--circle {
		width: 2rem;
		height: 2rem;
		padding: 0.5rem;
		justify-content: center;

		&.button--large {
			width: 3.5rem;
			height: 3.5rem;
			padding: 0.75rem;
			text-align: center;
		}
		&.button--small {
			width: 1.5rem;
			height: 1.5rem;
			padding: 0.25rem;
		}
	}
	&.button--arrowright:after {
		content: "";
		position: relative;
		top: 0;
		display: inline-block;
		width: 0.5rem;
		height: 0.5rem;
		margin-left: 0.75rem;
		border-bottom: 2px solid rgba($diagnoseBlue, 0.5);
		border-right: 2px solid rgba($diagnoseBlue, 0.5);
		transform: rotate(45deg);
		// transform-origin: 25% center;
		transition: all 0.3s ease;
	}
}


// Button group
.button--toggle-group {
	display: flex;
	margin-top: 2rem;

	& > .button--outline:last-child {
		margin-left: -2.5rem;
		padding-left: 3rem;
	}
	& > .button--outline:first-child {
		margin-right: -2.5rem;
		padding-right: 3rem;
	}

	.button--outline {
		background: $greylightest;
	}
	.button--blue {
		position: relative;
		z-index: 2;
	}
}