// TO DO: Clean up legacy naming (gform etc)

.field, .gfield {
	margin-bottom: 1rem;


	// .ginput_container_textarea textarea {}
	input[type="text"], textarea {
		@include clickableElem();
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		font: inherit;
		font-size: 1rem !important; // Overrides needed because of Gravity Forms
		line-height: 1.25rem;
		background: $greylightest !important; // Overrides needed because of Gravity Forms
		border-color: $greylight;

		&:hover {
			background: $white !important;
		}
		&:focus {
			outline: none;
			border-color: $highlight;
			background: $white !important;
		}
	}
	textarea {
		width: 100%;
		padding-top: 0.5rem;
	}
	input[type="text"] {
		height: 2.5rem;
		width: 100%;
	}

	// 'Regular' input fields, different types
	label {
		display: block;
		margin-bottom: 0.25rem;
		color: rgba($diagnoseBlue, 0.3);
		font-weight: 600;
	}
	input[type="date"],
	select {
		@include clickableElem();

		&:hover {
			color: $highlight;
		}
		&:focus {
			outline: none;
		}
		&:invalid {
      color: rgba($diagnoseBlue, 0.3);
      border-color: $diagnoseBlue;

      &:hover {
	      color: $highlight;
	      border-color: currentColor;
      }
    }
	}

	// Complex field group
	.gfield_label.gfield_label_before_complex {
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		opacity: 0.5;
	}
	.ginput_complex {
		display: flex;
		flex-wrap: wrap;

		.ginput_full {
			flex-basis: 100%;
		}

		@include phoneAndUp() {
			.ginput_left, .ginput_right, .name_first, .name_last {
				flex-basis: calc(50% - 0.5rem);
			}
		}

		.ginput_left, .name_first { margin-right: 1rem; }
	}


	// Select input
	.ginput_container_select,
	.address_country {
		position: relative;
		display: inline-block;

		&:after {
			content: "";
			position: absolute;
			top: 0.75rem;
			right: 1.25rem;
			width: 0.5rem;
			height: 0.5rem;
			transform: rotate(45deg);
			border-bottom: 2px solid $diagnoseBlue;
			border-right: 2px solid $diagnoseBlue;
			opacity: 0.5;
		}
		&:hover:after {
			border-bottom-color: $highlight;
			border-right-color: $highlight;
		}
		select {
			height: 2.5rem;
			width: 100%;
		}
	}

	// Slider (noUi)
	.slider-display {
		margin-top: 2rem;

		&.noUi-target {
			background: none;
			border: none;
			box-shadow: none;
		}
		.noUi-base {
			position: relative;
			background: transparent;

			&:before {
				content: "";
				position: absolute;
				top: 7px;
				left: 0;
				height: 2px;
				width: 100%;
				background: $diagnoseBlue;
			}
		}
		.noUi-handle {
			width: 2rem;
			height: 2rem;
			border-radius: 1rem;
			border: none;
			background: $diagnoseBlue;
			box-shadow: none;
	    cursor: move; /* fallback if grab cursor is unsupported */
	    cursor: grab;
	    cursor: -moz-grab;
	    cursor: -webkit-grab;

			&:before,
			&:after {
				display: none;
			}
			&:hover {
				background: darken($diagnoseBlue, 10%);
			}
			&.noUi-active {
				background: $highlight;
		    cursor: grabbing;
		    cursor: -moz-grabbing;
		    cursor: -webkit-grabbing;
		    transform: scale(1.05);
			}
		}
		.noUi-tooltip {
			bottom: 110%;
			padding: 0;
			border: none;
			background: none;
			color: $diagnoseBlue;
		}
		.min-val-relation,
		.max-val-relation {
			font-size: 0.875rem;
			color: $diagnoseBlue;
		}
	}
}

// Radio & Checkbox
.field--radio { // mockup only
	display: flex;
	flex-wrap: wrap;
}
.gfield_radio, .gfield_checkbox li {
	position: relative;
	margin: 1rem -0.5rem 0 -0.5rem;

	input[type="radio"],
	input[type="checkbox"] {
		position: absolute;
		left: -9999px;
	}
	input[type="radio"]:checked + label,
	input[type="checkbox"]:checked + label {
		background: $highlight;
		border-color: transparent;
		color: $white;
	}

	label {
		@include clickableElem();
		width: 100%;
		line-height: 1.5rem;

		cursor: pointer;

		&:hover {
			color: $highlight;
			background-color: rgba($highlight, 0.05);
		}
	}
	
	input[type="checkbox"] + label:before {
		content: "";
		display: inline-block;
		width: 1rem;
		min-width: 1rem;
		height: 1rem;
		margin: 0.25rem 0.5rem 0 -0.25rem;
		border-radius: 0.5rem;
		background: $greylight;
	}
	input[type="checkbox"]:checked + label:before {
		background: $white;
	}
	input[type="checkbox"]:checked + label:after {
		content: "";
		position: absolute;
		top: 0.95rem;
		left: 1.05rem;
		display: block;
		width: 0.6rem;
		height: 0.3rem;
		border-left: 2px solid $highlight;
		border-bottom: 2px solid $highlight;
		transform: rotate(-45deg);
	}
}
ul.gfield_radio, .gfield_checkbox {
	@include tabletAndUp() {
		display: flex;
		flex-wrap: wrap;
	}
	li {
		flex: 0 0 calc(100% - 1rem);
    margin: 0.5rem;

		@include tabletAndUp() {
			flex-basis: calc(50% - 1rem);
		}
	}
}





// Field group
.field-group {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;

	@include bigPhoneAndUp() {
		flex-direction: row;

		// Margin for adjacent fields
		.field + .field {
			margin-left: 1rem;
		}
	}
}