// TO DO: Clean up legacy naming (gform etc)

.field, .gfield {

	// 'Regular' input fields, different types
	label {
		display: block;
		margin-bottom: 0.25rem;
		color: rgba($diagnoseBlue, 0.3);
		font-weight: 600;
	}
	input[type="date"],
	select {
		@include clickableElem();

		&:hover {
			color: $highlight;
		}
		&:focus {
			outline: none;
		}
		&:invalid {
      color: rgba($diagnoseBlue, 0.3);
      border-color: $diagnoseBlue;

      &:hover {
	      color: $highlight;
	      border-color: currentColor;
      }
    }
	}

	// Select specific
	select {
		height: 2.5rem;
	}
}

// Radio & Checkbox
.field--radio { // mockup only
	display: flex;
	flex-wrap: wrap;
}
.gfield_radio, .gfield_checkbox li {
	margin: 1rem -0.5rem 0 -0.5rem;

	input[type="radio"],
	input[type="checkbox"] {
		position: absolute;
		left: -9999px;
	}
	input[type="radio"]:checked + label,
	input[type="checkbox"]:checked + label {
		background: $highlight;
		border-color: transparent;
		color: $white;
	}

	label {
		@include clickableElem();
		width: 100%;
		line-height: 1.5rem;

		cursor: pointer;

		&:hover {
			color: $highlight;
			background-color: rgba($highlight, 0.05);
		}
	}
	
	input[type="checkbox"] + label:before {
		content: "";
		display: inline-block;
		width: 1rem;
		min-width: 1rem;
		height: 1rem;
		margin: 0.25rem 0.5rem 0 -0.25rem;
		border-radius: 0.5rem;
		background: $greylight;
	}
	input[type="checkbox"]:checked + label:before {
		background: $white;
	}
}
ul.gfield_radio, .gfield_checkbox {
	@include tabletAndUp() {
		display: flex;
		flex-wrap: wrap;
	}
	li {
		flex: 0 0 calc(100% - 1rem);
    margin: 0.5rem;

		@include tabletAndUp() {
			flex-basis: calc(50% - 1rem);
		}
	}
}





// Field group
.field-group {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;

	.field {
		margin-bottom: 1rem;
	}

	@include bigPhoneAndUp() {
		flex-direction: row;

		// Margin for adjacent fields
		.field + .field {
			margin-left: 1rem;
		}
	}
}
