.page--home {

	#intro {
	 	background-color: #F5F8F9;
	 	background-image: url('../images/mockup-home-1.jpg');
	 	background-size: 180%;
	 	background-position: 80% 0;
	 	background-repeat: no-repeat;
	 	min-height: 50vh;

	 	@include tabletAndUp() {
		 	background-size: cover;
		 	background-position: top left;
	 		min-height: 40vw;
	 	}
	}

	#intro-post .box {
		margin-top: -4rem;

		@include tabletAndUp() {
			margin-top: -8rem;
		}
	}

	#services_preview {
		background: $greylightest;
		padding: 0.5rem 0;

		@include tabletAndUp() {
			padding: 3rem 0;
		}

		.row {
			padding: 0.5rem;

			@include tabletAndUp() {
				padding: 1rem;
			}
			[class*="col-"] {
				padding: 1rem;
			}

			// Vertical boxes shift
			@include tabletAndUp() {
				& > *:nth-child(1) { margin-top: 4.5rem; }
				& > *:nth-child(2) { margin-top: 1.5rem; }
				& > *:nth-child(3) { margin-top: -1.5rem; }
				& > *:nth-child(4) { margin-top: -4.5rem; }
			}

			// Box hover effect
			.box {
				transition: all 0.2s ease;
			}
			&:hover .box {
				opacity: 0.75;
				transform: scale(0.99);

				&:hover {
					opacity: 1;
					transform: scale(1.01);
				}
			}
		}
	}

	#knowledge_preview {
		margin-top: 8rem;
		background: $greylightest;

		.box {
			margin-top: -5rem;
		} 
	}

	#call_to_action {
		margin-top: 4rem;

		@include tabletAndUp() {
			margin-top: 8rem;
		} 
	}
}