.page.home {

	#hero, .section--hero {
	 	background-color: #F5F8F9;
	 	background-image: url('../images/mockup-home-1.jpg');
	 	background-size: 180%;
	 	background-position: 80% 0;
	 	background-repeat: no-repeat;
	 	min-height: 50vh;

	 	@include tabletAndUp() {
		 	background-size: cover;
		 	background-position: top left;
	 		min-height: 42vw;
	 	}
	}

	#hero-post, .section--hero-post .box {
		margin-top: -4rem;

		@include tabletAndUp() {
			margin-top: -12rem;
		}

		.button--circle {
			position: relative;
			display: block;
			float: right;
			margin-right: 2rem;

			@include tabletAndUp() {
				margin-top: 0.75rem;
				margin-right: -2rem;
			}
		}
	}

	#intro, .section--intro {
		padding: 6rem 0;
	}

	#services_preview, .section--services_preview {
		background: $greylightest;

		@include tabletAndUp() {
			padding: 3rem 0;
		}

		// Box hover effect
		.rpc-box {
			@include boxBasicStyle();
			padding: 0 !important;
			color: inherit;
			transition: all 0.2s ease;

			.car-caption {
				padding: 1.5rem;

				p {
					margin: 1rem 0;
					font-size: 1rem;
					line-height: 1.25rem;
				}
				a.button {
					border-bottom: 1px solid $highlight;
				}
			}
		}
		.slick-list:hover .rpc-box {
			opacity: 0.75;
			transform: scale(0.99);

			&:hover {
				opacity: 1;
				transform: scale(1.01);
			}
		}

		.slick-list {
			padding: 2rem 0.5rem;

			@include tabletAndUp() {
				padding: 4rem 0.5rem;
			}
			.slick-slide {
				padding: 0.5rem;
			}

			// Vertical boxes shift
			@include tabletAndUp() {
				& > .slick-track > *:nth-child(1) { margin-top: 3.75rem; }
				& > .slick-track > *:nth-child(2) { margin-top: 1.25rem; }
				& > .slick-track > *:nth-child(3) { margin-top: -1.25rem; }
				& > .slick-track > *:nth-child(4) { margin-top: -3.75rem; }
			}
		}
	}

	#knowledge_preview, .section--knowledge_preview {
		margin-top: 8rem;
		background: $greylightest;

		.box {
			margin-top: -5rem;
		} 
	}

	#call_to_action, .section--call_to_action {
		margin-top: 4rem;

		@include tabletAndUp() {
			margin-top: 8rem;
		} 
	}
}