.page.knowledge-base,
.single-post {

	.section--hero {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		min-height: 60vh;
		background-size: cover;
		background-position: center;
		color: $white;

		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			background: rgba($diagnoseBlue, 0.1);
  		background-blend-mode: lighten;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 2;
			width: 100%;
			height: calc(100% - 6rem);
			@include vertical-gradient(rgba($diagnoseBlue, 0), rgba($dark, 1));
		}

		& > * {
			position: relative;
			z-index: 3;
		}

		h1, h2, h3, h4 {
			color: inherit;
		}

		h1 {
			margin-bottom: 1rem;
			font-size: 2rem;
		}
		h2 {
			font-weight: normal;
			opacity: 0.7;
		}
	}

	.section--meta .meta {
		display: flex;
		justify-content: space-between;
		color: $diagnoseBlue;

		@include tabletAndDown() {
			flex-wrap: wrap;
			
			.meta__categories {
				margin-top: 0.5rem;
				flex-basis: 100%;
			}
		}
	}

	.section--article {
		p, ul, ol {
			color: $greydark;
		}
		p, ul, ol, h1, h2, h3, blockquote {
			margin-bottom: 2rem;
		}
		figure {
			max-width: 100%;
			margin-top: 2rem;
			margin-bottom: 2rem;

			@include tabletAndUp() {
				margin-top: 3rem;
				margin-bottom: 3rem;
			}
		}
		figcaption {
			margin-top: 0.25rem;
			opacity: 0.4;
			font-size: 0.875rem;
			line-height: 1.25rem;
		}
		ul, ol {
			margin-left: 1rem;
			font-size: 1rem;
			line-height: 1.5rem;
			
			@include tabletAndUp() {
				font-size: 1.125rem;
				line-height: 1.75rem;
			}

			li:before {
				content: "•";
				color: $diagnoseBlue;
				display: inline-block;
				width: 1em;
				margin-left: -1em;
			}
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
	.wp-video {
		width: auto !important;

		video { max-width: 100%; }
	}
}
