.page-template-page-services-main {

	#intro {
		min-height: 12rem;
	}

	.section--service {
		padding: 6rem 0;

		.title h2 {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			img {
				max-width: 2rem;
				margin-right: 1rem;
			}
		}

		.image figure {
			width: calc(100% + 5rem);
			margin-right: -5rem;
		}

		// alternate image/box alignment
		@include tabletAndUp() {
			&:nth-child(odd) {
				.image {
					-webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1;

					figure {
						width: calc(100% + 5rem);
						margin-right: 0;
						margin-left: -5rem;
					}
				}
			}
		}
	}

	.hasSubmenu a:after {
		display: none;
	}
	.hasSubmenu:after {
		display: block;
	}
	.submenu {
		max-height: 6rem;
		opacity: 1;
		pointer-events: all;
	}
}
