.page-template-page-services-main {

	#intro {
		min-height: 12rem;
	}

	.section--service {
		.title h2 {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			img {
				max-width: 2rem;
				margin-right: 1rem;
			}
		}

		.box .button {
			margin-right: 1rem;
		}
	}

	.current-menu-item > a svg {
		display: none;
	}
	.sub-menu {
		display: none;
		opacity: 1;
		pointer-events: all;
		transition: all 0.2s ease 0.1s;
		box-shadow: none;

		@include tabletAndUp() {
			display: flex;
			max-height: 6rem;
		}
	}
	nav.isActive .sub-menu {
		display: flex;
	}
}


// alternate image/box alignment
// NB used on both service overview and service detail
.section--service {
	padding: 3rem 0;

	@include tabletAndUp() {
		
		padding: 6rem 0;

		.image figure {
			width: calc(100% + 5rem);
			margin-right: -5rem;
		}

		&:nth-child(odd) {
			.image {
				-webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1;

				figure {
					width: calc(100% + 5rem);
					margin-right: 0;
					margin-left: -5rem;
				}
			}
		}
		&:nth-child(even) {
			.text h2 {
				margin-left: 2.5rem;
			}
		}
	}
}
