.page-template-page-services-single {

	.section--intro {
		position: relative;
		display: flex;
		align-items: center;
		padding: calc(40vw + 2rem) 0 3rem;
		background-color: transparent;
		background-size: 100%;
		background-position: 100% 0;
		background-repeat: no-repeat;
		overflow: hidden;

	 	@include tabletAndUp() {
	 		min-height: 40vw;
	 		padding-bottom: 7rem;
		 	background-size: cover;
		 	background-position: bottom center;
	 	}

	 	// Background Service 1
	 	&#performance-diagnostics,
	 	&#leistungsdiagnostik,
	 	&#diagnostics {
	 		background-color: $white;
	 	}

	 	// Background Service 2
	 	&#training-planning,
	 	&#trainingsplanung,
	 	&#training-coaching {
		 	background-color: #e9dfd7;
	 	}

	 	// Background Service 4
	 	&#nutrition-coaching,
	 	&#nutrition-counseling,
	 	&#ernaehrungsberatung,
	 	&#ernahrung {
		 	background-position: right -10%;
	    background-color: white;

	    @include tabletAndUp() {
				background-position: right top;
			}
	 	}

	 	h1 {
	 		margin-bottom: 2rem;

	 		img {
	 			max-width: 2rem;
	 			max-height: 2rem;
	 			vertical-align: middle;
	 			margin-right: 0.5rem;

	 			@include tabletAndUp() {
		 			max-width: 3rem;
		 			max-height: 3rem;
		 		}
	 		}
	 	}

		&__cover-bg {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			filter: blur(0.5rem);
			opacity: 0.4;
		}
	}
	.section--packages {
		margin-top: -3rem;

		@include tabletAndUp() {
			margin-top: -9rem;
		}
		
		.col--package {
			display: flex;

			&.isHidden { display: none; }
		}
	}
	.package-actions {
		text-align: center;

		.button {
			margin: 0 0.25rem 1rem;
		}
	}
	.comparison {
		max-height: 130vh;
		width: 100%;
		margin-top: 3rem;
		opacity: 1;
		transition: all 1s cubic-bezier(0, 0, 0.2, 1);

		&.isHidden {
			opacity: 0.5;
			max-height: 0;
			padding-bottom: 0;
			overflow: hidden;
		}
	}

	#call_to_action {
		background: $greylightest;
	}
}
