.page-template-page-services-single {

	.section--intro {
 		display: flex;
 		align-items: center;
	 	padding-bottom: 10rem;
	 	background-color: #F5F8F9;
	 	background-size: 140%;
	 	background-position: 100% bottom;
	 	background-repeat: no-repeat;

	 	@include tabletAndUp() {
	 		min-height: 40vw;
	 		padding-bottom: 7rem;
		 	background-size: cover;
		 	background-position: bottom center;
	 	}

	 	// Background Service 1
	 	&#performance-diagnostics,
	 	&#leistungsdiagnostik,
	 	&#diagnostics {
	 		background-color: $white;
	 	}

	 	// Background Service 2
	 	&#training-planning,
	 	&#trainingsplanung,
	 	&#training-coaching {
		 	background-color: #e9dfd7;

		 	@include tabletAndDown() {
			 	background-position: right bottom;
			 	padding-bottom: 16rem;
			}
	 	}

	 	// Background Service 3
	 	&#bikefitting,
	 	&#bikefit,
	 	&#bike-fitting-berlin {
	 	}

	 	// Background Service 4
	 	&#nutrition-coaching,
	 	&#nutrition-counseling,
	 	&#ernaehrungsberatung,
	 	&#ernahrung {
		 	background-position: right -10%;
	    background-color: white;

	    @include tabletAndUp() {
				background-position: right top;
			}
			@include tabletAndDown() {
				padding: 65vw 0 2rem;
			}
	 	}

	 	h1 {
	 		margin-bottom: 2rem;

	 		img {
	 			max-width: 2rem;
	 			max-height: 2rem;
	 			vertical-align: middle;
	 			margin-right: 0.5rem;

	 			@include tabletAndUp() {
		 			max-width: 3rem;
		 			max-height: 3rem;
		 		}
	 		}
	 	}
	}
	.section--packages {
		margin-top: -3rem;

		@include tabletAndUp() {
			margin-top: -9rem;
		}

		&.isHidden {
			display: none;
		}
	}
	.package-actions {
		text-align: center;

		.button {
			margin: 0 0.25rem 1rem;
		}
	}
	.comparison {
		max-height: 130vh;
		width: 100%;
		margin-top: 3rem;
		opacity: 1;
		transition: all 1s cubic-bezier(0, 0, 0.2, 1);

		&.isHidden {
			opacity: 0.5;
			max-height: 0;
			padding-bottom: 0;
			overflow: hidden;
		}
	}

	#call_to_action {
		background: $greylightest;
	}
}
