.page-template-page-services-main {

	.site section:nth-child(odd) .last-sm {
		order: inherit;
	}

	#intro {
		min-height: 12rem;
	}

	.section--service {
		margin-bottom: 6rem;
	}

	.hasSubmenu a:after {
		display: none;
	}
	.hasSubmenu:after {
		display: block;
	}
	.submenu {
		max-height: 6rem;
		opacity: 1;
		pointer-events: all;
	}
}
