.page-template-page-services-single {

	.section--intro {
	 	min-height: 90vh;
	 	padding-bottom: 7rem;
	 	background-color: #F5F8F9;
	 	background-size: 140%;
	 	background-position: 100% bottom;
	 	background-repeat: no-repeat;

	 	@include tabletAndUp() {
	 		min-height: 40vw;
		 	background-size: cover;
		 	background-position: bottom center;
	 	}

	 	// Background Service 1
	 	&#training-planning,
	 	&#trainingsplanung {
		 	background-image: url('../images/service-perfdiag.jpg');
	 	}

	 	// Background Service 2
	 	&#performance-diagnostics,
	 	&#leistungsdiagnostik {
		 	background-image: url('../images/service-trainplan.jpg');
	 	}

	 	// Background Service 3
	 	&#bikefitting,
	 	&#bikefit {
		 	background-image: url('../images/service-bikefit.jpg');
	 	}

	 	// Background Service 4
	 	&#nutrition-coaching,
	 	&#ernaehrungsberatung {
		 	background-image: url('../images/service-nutrcoach.jpg');
	 	}

	 	h1 {
	 		margin-bottom: 2rem;

	 		img {
	 			width: 3rem;
	 			vertical-align: middle;
	 			margin-right: 0.5rem;
	 		}
	 	}
	}
	.section--packages {
		margin-top: -9rem;

		&.isHidden {
			display: none;
		}
	}
	.comparison {
		max-height: 100vh;
		margin-top: 3rem;
		opacity: 1;
		transition: all 1s cubic-bezier(0, 0, 0.2, 1);

		&.isHidden {
			opacity: 0.5;
			max-height: 0;
			padding-bottom: 0;
			overflow: hidden;
		}
	}

	#call_to_action {
		background: $greylightest;
	}
}
