.page-template-page-services-main #intro {
  min-height: 12rem; }
.page-template-page-services-main .hasSubmenu a:after {
  display: none; }
.page-template-page-services-main .hasSubmenu:after {
  display: block; }
.page-template-page-services-main .submenu {
  max-height: 6rem;
  opacity: 1;
  pointer-events: all; }
