.page-template-page-team {

	#team {
		padding-bottom: 5rem;

		figure {
			max-width: 15rem;
			margin: 0 auto 1.5rem;
			border-radius: 50%;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		.more {
			max-height: 0;
			overflow: hidden;
			opacity: 0;
			transition: all 0.3s ease;
		}
		.button--less {
			display: none;
		}
		.member {
			text-align: center;

			.more {
				text-align: left;
			}
		}
		.member.isActive {
			.more {
				max-height: 100vh;
				opacity: 1;
			}
			.button--more { display: none; }
			.button--less { display: inherit; }
		}
	}

	.partners-grid {
		padding-bottom: 5rem;

		@include tabletAndDown() {
			.spacer { display: none; }
		}

		.partner {
			position: relative;

			& > .box {
				position: static;
				z-index: inherit;
				margin: 1.5rem 0;
				transition: all 0.2s ease;
				
				&[onclick]:hover, &.isActive {
					box-shadow: 0 0.5rem 2.5rem rgba($dark, 0.25);
					cursor: pointer;
				}
			}

			// Diagnose box
			&:nth-child(5) > .box:not(.box--circle-small) { background: $diagnoseBlue; box-shadow: 0 0.5rem 2.5rem rgba($dark, 0.25); }

			@include tabletAndUp() {
				&:nth-child(1) .box { transform: translate(0, 4rem); }
				&:nth-child(2) .box { transform: translate(0, -2rem); }
				&:nth-child(3) .box { transform: translate(0, 4rem); }
				// &:nth-child(4) .box {}
				// &:nth-child(5) .box {}
				// &:nth-child(6) .box {}
				&:nth-child(7) .box { transform: translate(0, -4rem); }
				&:nth-child(8) .box { transform: translate(0, 2rem); }
				&:nth-child(9) .box { transform: translate(0, -4rem); }
			}

			// Alignment tooltip on mobile
			&:nth-child(2n) .box--info-tooltip {
				@include tabletAndDown() {
					left: calc(-50vw + 1.5rem);
				}
			}

			// Friends & Family grid
			&:nth-child(2n) .box.box--circle-small {
				transform: translate(0, -2rem);
			}
			&:nth-child(2n-1) .box.box--circle-small {
				transform: translate(0, 2rem);
			}
		}
		.box.box--info-tooltip {
			position: absolute;
			top: 100%;
			z-index: 11;
			text-align: left;
			display: none;
			cursor: default;
			margin-top: -2rem;
		}
		.partner.isActive .box--info-tooltip {
			display: block;
		}
	}
}
