.page-template-page-team {

	#team {
		padding-bottom: 5rem;

		figure {
			max-width: 15rem;
			margin: 0 auto 1.5rem;
			border-radius: 50%;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}

	.partners-grid {
		padding-bottom: 5rem;

		& > [class*="col-"] {
			& > .box {
				position: relative;
				margin: 1.5rem 0;
			}

			// Network layout
			&:nth-child(1) .box { transform: translate(-0.5rem,-2rem); }
			&:nth-child(2) .box { transform: translate(0,0); }
			&:nth-child(3) .box { transform: translate(-1rem,-3rem); }
			&:nth-child(4) .box { transform: translate(-0.5rem,1rem); }
			&:nth-child(5) { } // Spacer
			&:nth-child(6) .box { transform: translate(0,-3rem); }
			&:nth-child(7) .box { transform: translate(-1rem,2rem); }
			&:nth-child(8) .box { transform: translate(0,-2rem); }

			@include tabletAndUp() {
				&:nth-child(1) .box { transform: translate(-1rem,2rem); }
				&:nth-child(2) .box { transform: translate(0,-3rem); }
				&:nth-child(3) .box { transform: translate(3rem,-1rem); }
				&:nth-child(4) .box { transform: translate(0,8rem); }
				&:nth-child(5) { } // Spacer
				&:nth-child(6) .box { transform: translate(0,3rem); }
				&:nth-child(7) .box { transform: translate(2rem,-2rem); }
				&:nth-child(8) .box { transform: translate(-2rem,6rem); }
			}
		}
		.box.box--circle {
			position: relative;
			transition: all 0.2s ease;
			
			&[onclick]:hover, &.isActive {
				box-shadow: 0 0.5rem 2.5rem rgba($dark, 0.25);
				cursor: pointer;
			}
		}
		.box.box--info-tooltip {
			text-align: left;
			display: none;
			cursor: default;
		}
		.box.box--circle.isActive .box--info-tooltip {
			display: block;
		}
	}
}
