*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

/node_modules/
_notes/dwsync.xml
scss/component/footer.css
scss/component/form.css
scss/component/lang-switcher.css
scss/component/nav.css
scss/element/field.css
scss/base/colours.css
scss/component/table.css
scss/element/box.css
scss/element/button.css
