footer {
	background: darken($diagnoseBlue, 8%);
	color: $white;
	line-height: 2rem;

	a {
		color: $white;
	}

	.subtle {
		opacity: 0.5;
	}

	.menu {
		display: block;

		@include tabletAndUp() {
		  -webkit-column-count: 3;
		  -moz-column-count: 3;
		  column-count: 3;
		  margin-right: -5rem;
		}

	  a {
	  	padding: 0.25rem 0;
	  	line-height: 1.25rem;
	  	justify-content: flex-start;
	  }

	  .separator {
	  	break-after: always;
	  	opacity: 0;
	  	pointer-events: none;
	  }
	}

	.site-info {
		padding-top: 1rem;
		padding-bottom: 1rem;
		background: darken($diagnoseBlue, 12%);
		font-size: 0.875rem;

		p {
			color: rgba($white, 0.5);
		}
		a {
			color: rgba($white, 0.8);

			&:hover { color: $white; }
		}
	}
}
