// TO DO: Clean up legacy naming (gform etc)

.gform_wrapper {
	margin: 0;

	// Steps
	.gf_page_steps {
		width: 100%;
		display: flex;

		.gf_step {
			height: 0.25rem;
	    flex: 1;
			background: $greylight;

			&_completed { background: $highlight; }
			&_active { background: $highlight; }

			.gf_step_number {
				display: none;
			}
		}
	}

	.validation_error, .validation_errors {
		padding: 0.5rem 1rem;
		background: rgba($highlight, 0.1);
		color: $highlight;

		@include bigPhoneAndUp() {
			padding: 0.75rem 1.5rem;
		}
	}
	.validation_message { color: $highlight; }

	form {
		max-height: 100vh;
		max-width: 720px;
		margin: 0 auto;

		background: $white;
		box-shadow: 0 0.375rem 2rem rgba($black, 0.1);
	}
}

.form,
.gform_body {
	&-section,
	.gform_page {
		// margin: 0 0.75rem;
		padding: 1rem;
		padding-top: 2rem;
		background: $greylightest;

		@include bigPhoneAndUp() {
			padding: 1.5rem;
			padding-top: 2.5rem;
		}

		// &.isActive {
		// 	background: $white;
		// 	box-shadow: 0 0.375rem 2rem rgba($black, 0.1);
		// }

		// Not active
		&:not(.isActive) {
			.question, .answer {
				opacity: 0.2;
			}
		}
	}
	&-section + &-section {
		margin-top: 3rem;
	}
	&-section--short {
		display: flex;
		flex-direction: column;

		@include bigPhoneAndUp() {
			flex-direction: row;
		}

		.answer {
			min-width: 12rem;

			label {
				display: flex;
				width: 100%;
				justify-content: center;
			}
		}
	}

	.gform_page_footer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 3rem;

		input + input {
			margin-left: 0.5rem;

			@include tabletAndUp() {
				margin-left: 1rem;
			}
		}
		.button {
			// Ref: button--grey in button.scss
			background: $greylight;
			border-color: transparent;

			&:hover {
				background: darken($greylight, 10%);
				box-shadow: 0 0.25rem 1rem rgba($diagnoseBlue, 0.3);
			}

			&[type="submit"] {
				// Ref: button--blue in button.scss
				height: 2.5rem;
				background: $diagnoseBlue;
				color: $white;
				border-color: transparent;

				&:hover {
					background: darken($diagnoseBlue, 10%);
					box-shadow: 0 0.125rem 1rem rgba($diagnoseBlue, 0.3);
				}
			}
		}
	}
}
