// TO DO: Clean up legacy naming (gform etc)

.gform_wrapper {
	margin: 0;
}
.gform_wrapper .gf_page_steps {
	display: none;
}

.form,
.gform_body {
	max-width: 720px;
	margin: 0 auto;
	padding-top: 3rem;

	&-section,
	.gform_page {
		// margin: 0 0.75rem;
		padding: 1rem;
		background: $greylightest;

		@include bigPhoneAndUp() {
			padding: 1.5rem;
		}

		// Active
		&.isActive {
			background: $white;
			box-shadow: 0 0.375rem 2rem rgba($black, 0.1);
		}
		// Not active
		&:not(.isActive) {
			.question, .answer {
				opacity: 0.2;
			}
		}

		.question {}
		.answer {}
		.actions {
			display: flex;
			justify-content: flex-end;
		}
	}
	&-section + &-section {
		margin-top: 3rem;
	}
	&-section--short {
		display: flex;
		flex-direction: column;

		@include bigPhoneAndUp() {
			flex-direction: row;
		}

		.answer {
			min-width: 12rem;

			label {
				display: flex;
				width: 100%;
				justify-content: center;
			}
		}
	}

	.gform_page_footer {
		display: flex;
		justify-content: flex-end;
		margin-top: 3rem;
	}
}
