// Lang switcher
.menu > .lang-item {
	display: none;

	@include tabletAndUp() {
		display: flex;
	}
	a {
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}
	}
	&.no-translation a {
		text-decoration: line-through;
	}
}
nav.isActive .menu > .lang-item {
	display: flex;
}
