html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: $white;

  font-family: "F37 Ginger", 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 100%; // 16px = 100%
  color: $dark;

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Selection */
::-moz-selection {
  background: $diagnoseBlue;
  color: $white;
}
::selection {
  background: $diagnoseBlue;
  color: $white;
}

figure img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $diagnoseBlue;

  &.c-highlight:hover {
    color: darken($highlight, 20%) !important;
  }
}

.row--nopadding {
  margin: 0;

  & > [class*="col-"] {
    padding: 0;
  }
}

.align-center {
  text-align: center;
}



// Load animations
// .load-fadein {
//   opacity: 0;
//   transition: all 0.6s cubic-bezier(0, 0, 0.2, 1);
// }
// .load-movein-btm {
//   position: relative;
//   opacity: 0;
//   transform: translateY(2rem);
//   transition: all 0.6s cubic-bezier(0, 0, 0.2, 1);
// }
// .load-movein-top {
//   position: relative;
//   opacity: 0;
//   transform: translateY(-2rem);
//   transition: all 0.6s cubic-bezier(0, 0, 0.2, 1);
// }
// .load-delay-03s { transition-delay: 0.3s; }
// .load-delay-05s { transition-delay: 0.5s; }
// .load-delay-07s { transition-delay: 0.7s; }
// .load-delay-1s { transition-delay: 1s; }
// .load-delay-15s { transition-delay: 1.5s; }
// .load-delay-2s { transition-delay: 2s; }
// .load-delay-3s { transition-delay: 3s; }

// body.isLoaded {
//   .load-fadein,
//   .load-movein-btm,
//   .load-movein-top {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }




// Wordpress screen-reader-text styling
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}