html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: $white;

  font-family: HK Grotesk, Arial, sans-serif;
  font-size: 100%; // 16px = 100%
  color: $diagnoseBlue;

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Selection */
::-moz-selection {
  background: $diagnoseBlue;
  color: $white;
}
::selection {
  background: $diagnoseBlue;
  color: $white;
}
