html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: $white;

  font-family: "F37 Ginger", 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 100%; // 16px = 100%
  color: $dark;

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Selection */
::-moz-selection {
  background: $diagnoseBlue;
  color: $white;
}
::selection {
  background: $diagnoseBlue;
  color: $white;
}

figure img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $diagnoseBlue;
}

.row--nopadding {
  margin: 0;

  & > [class*="col-"] {
    padding: 0;
  }
}