// Mixins

// Media queries
@mixin tabletAndDown() {
  @media screen and (max-width: 48em) {
    @content;
  }
}
@mixin phoneAndUp() {
  @media screen and (min-width: 21em) {
    @content;
  }
}
@mixin bigPhoneAndUp() {
  @media screen and (min-width: 30em) {
    @content;
  }
}
@mixin tabletAndUp() {
  @media screen and (min-width: 48em) {
    @content;
  }
}
@mixin wideTabletAndUp() {
  @media screen and (min-width: 56em) {
    @content;
  }
}
@mixin desktopAndUp() {
  @media screen and (min-width: 64em) {
    @content;
  }
}
@mixin wideDesktopAndUp() {
  @media screen and (min-width: 70em) {
    @content;
  }
}

// Clickable element basis
@mixin clickableElem() {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-flex;
  padding: 0.375rem 1rem;
  border: 0.125rem solid currentColor;
  border-radius: 1.25rem;
  background: none;

  line-height: 1.5rem;
  color: $diagnoseBlue;
  font: inherit;
  font-weight: 600;

  cursor: pointer;
}


// Box basis
@mixin boxBasicStyle() {
  position: relative;
  z-index: 10;
  display: block;
  padding: 1.5rem;
  background: $white;
  box-shadow: 0 0.375rem 2rem rgba($dark, 0.15);

  @include tabletAndUp() {
    padding: 2.5rem 5rem;
  }
}


// Vertical gradient
// Permalink - use to edit and share this gradient:
// http://colorzilla.com/gradient-editor/303029+0,f1f1f4+50,f1f1f4+100
@mixin vertical-gradient($start: $dark, $end: $white) {
  background: -moz-linear-gradient(top, $start 0%, $end 100%); // FF3.6-15
  background: -webkit-linear-gradient(top, $start 0%, $end 100%); // Chrome10-25,Safari5.1-6
  background: linear-gradient(to bottom, $start 0%, $end 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=0 ); // IE6-9
}


// Creates neat underlined links
@mixin underline($color, $weight: 2px, $offset: 0px) {
  background-image: linear-gradient(to top, transparent, transparent $offset, $color $offset, $color ($offset + $weight), transparent ($offset + $weight))
}

