// Web fonts
@font-face {
  font-family: 'F37 Ginger';
  font-style: normal;
  font-weight: 400;
  src: local('F37 Ginger'),
  		 url('../fonts/F37Ginger-Regular.woff2') format('woff2'),
  		 url('../fonts/F37Ginger-Regular.woff') format('woff');
}
@font-face {
  font-family: 'F37 Ginger';
  font-style: normal;
  font-weight: 700;
  src: local('F37 Ginger'),
  		 url('../fonts/F37Ginger-Bold.woff2') format('woff2'),
  		 url('../fonts/F37Ginger-Bold.woff') format('woff');
}

// Paragraph
p {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

// Blockquote
blockquote {

	p {
		color: $diagnoseBlue;
		font-size: 1.5rem;
		line-height: 2rem;
	}
	
	&.blockquote--big p {
		font-size: 2rem;
		line-height: 2.25rem;
		font-weight: bold;
		color: $dark;

		@include tabletAndUp() {
			font-size: 3rem;
			line-height: 3.5rem;
		}
	}
}